<footer id="sticky-footer" class="py-4 bg-primary text-white-50">
    <div class="container d-flex justify-content-around">
        <small class="fs-5">Copyright &copy; Twitter App </small>
        <div>
            <small class="fs-5"> Created by : {{ copyright_name }}</small>
        </div>
        <div class="social-icons d-flex justify-content-around align-self-stretch">
            <a class="bi bi-github mx-3" href="https://github.com/sangammelkunde" target="_blank"></a>
           
        </div>
    </div>
</footer>